body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  text-shadow:
  -5px -5px 0 #000,
  5px -5px 0 #000,
  -5px 5px 0 #000,
  5px 5px 0 #000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  color: #FEF2BF;
  line-height: 230px;
  text-shadow:
		-5px -5px 0 #000,
		5px -5px 0 #000,
		-5px 5px 0 #000,
		5px 5px 0 #000;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.animate {
  animation: float 6s ease-in-out infinite;
  padding-top: 300px;
}

body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient {
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}